@page "/agregarclienteempresa"
@inject NavigationManager Navegador;
@inject AgregarClienteUseCase AgregarClienteUseCase

<h3>Agregando una nueva Empresa</h3>
<input placeholder="Nombre" @bind="nombre" class="form-control">
<input placeholder="CUIT" autocomplete="off" @bind="cuit" class="form-control">
<input placeholder="Dirección" @bind="direccion" class="form-control">
<input placeholder="Teléfono" @bind="telefono" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private long cuit;
    private string? nombre;
    private string? direccion;
    private string? telefono;
    ClienteEmpresa? _clienteEmpresa;
    AgregarClienteUseCase? agregarClienteUseCase;
    RepositorioSqlite<Cliente>? repositorio;

    void Aceptar()
    {   
        try {
            repositorio = new RepositorioSqlite<Cliente>();
            agregarClienteUseCase = new AgregarClienteUseCase(repositorio);
            _clienteEmpresa = new ClienteEmpresa(cuit);
            _clienteEmpresa.Nombre = nombre;
            _clienteEmpresa.Direccion = direccion;
            _clienteEmpresa.Telefono = telefono;
            AgregarClienteUseCase.Ejecutar(_clienteEmpresa);
            Navegador.NavigateTo("listadoclientes");
        } catch (System.Exception e){
            Console.WriteLine(e.Message);
        }

    }
}