@page "/agregarclienteempresa"
@inject NavigationManager Navegador;
@inject AgregarClienteUseCase AgregarClienteUseCase

<h3>Agregando una nueva Empresa</h3>
<div class="form-group row">
        <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
        <input placeholder="Nombre" @bind="nombre" class="form-control">
</div>
<div class="form-group row">
        <label for="CUIT" class="col-sm-2 col-form-label">CUIT</label>
        <input placeholder="CUIT" autocomplete="off" @bind="cuit" class="form-control">
</div>
<div class="form-group row">
        <label for="Dirección" class="col-sm-2 col-form-label">Dirección</label>
        <input placeholder="Dirección" @bind="direccion" class="form-control">
</div>
<div class="form-group row">
        <label for="Teléfono" class="col-sm-2 col-form-label">Teléfono</label>
        <input placeholder="Teléfono" @bind="telefono" class="form-control">
</div>
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private long cuit;
    private string? nombre;
    private string? direccion;
    private string? telefono;
    ClienteEmpresa? _clienteEmpresa;

    void Aceptar()
    {   
        try {
            _clienteEmpresa = new ClienteEmpresa(cuit);
            _clienteEmpresa.Nombre = nombre;
            _clienteEmpresa.Direccion = direccion;
            _clienteEmpresa.Telefono = telefono;
            AgregarClienteUseCase.Ejecutar(_clienteEmpresa);
            Navegador.NavigateTo("listadoclientes");
        } catch (System.Exception e){
            Console.WriteLine(e.Message);
        }

    }
}