@page "/agregarVenta"
@inject NavigationManager Navegador;
@inject AgregarVentaUseCase AgregarVentaUseCase
@inject IJSRuntime JsRuntime
@inject BuscarClientePorNombreUseCase BuscarClientePorNombreUseCase
@inject AgregarVentaUseCase AgregarVentaUseCase

<form>
    <h3>Datos del detalle de venta</h3>
    <div class="form-group row">
        <label for="idProducto" class="col-sm-2 col-form-label">Id Producto</label>
        <input id="idProducto" placeholder="Id Producto" @bind="idProducto">
    </div>
    <div class="form-group row">
        <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
        <input id="cantidad" placeholder="Cantidad" @bind="cantidad">
    </div>
    <button class="btn btn-primary boton-detalle" @onclick="()=>AgregarDetalle()">Agregar Detalle</button>

    <h3>Datos de la nueva venta</h3>
    <div class="form-group row">
        <label for="nombreCli" class="col-sm-2 col-form-label">Nombre Cliente</label>
        <input id="nombreCli"  @bind="nombreCliente">
    </div>
    <button class="btn btn-primary" @onclick="()=>GenerarVenta()">Agregar Venta</button>
</form>

@code {
    Venta? venta;
    string? nombreCliente;
    DateTime fecha = DateTime.Now;
    double montoTotal;

    DetalleVenta? detalle;
    IEnumerable<DetalleVenta>? detalles;

    long idProducto;
    int cantidad;
    double precioUnidad;

    string message = "";

    protected override void OnInitialized()
    {
        detalles = new List<DetalleVenta>();
    }

    void AgregarDetalle()
    {
        detalle = new DetalleVenta(cantidad, precioUnidad, idProducto);
        detalles?.Append(detalle);
        cantidad = 0;
        precioUnidad = 0;
        idProducto = 0;
    }

    void GenerarVenta()
    {
        if (detalles?.Count() > 0)
        {
            venta = new Venta(detalles);
            if (nombreCliente != null)
            {
                Cliente? cli = BuscarClientePorNombreUseCase.Ejecutar(nombreCliente);
                if (cli != null)
                {
                    venta.Cliente = cli.Id;
                }
            }
            AgregarVentaUseCase.Ejecutar(venta);
        }
        Navegador.NavigateTo("/listadoventas");
    }
}