@page "/agregarCliente"
@inject NavigationManager Navegador;
@inject AgregarClienteUseCase AgregarClienteUseCase

<h3>Agregando un nuevo Cliente</h3>
<input placeholder="Nombre" @bind="nombre" class="form-control">
<input placeholder="CUIT" @bind="cuit" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private long cuit;
    private string? nombre;
    ClienteEmpresa? _clienteEmpresa;
    AgregarClienteUseCase? agregarClienteUseCase;
    RepositorioSqlite<Cliente>? repositorio;

    void Aceptar()
    {   
        try {
            repositorio = new RepositorioSqlite<Cliente>();
            agregarClienteUseCase = new AgregarClienteUseCase(repositorio);
            _clienteEmpresa = new ClienteEmpresa(cuit);
            _clienteEmpresa.Nombre = nombre;
            AgregarClienteUseCase.Ejecutar(_clienteEmpresa);
            Navegador.NavigateTo("listadoclientes");
        } catch (System.Exception e){
            Console.WriteLine(e.Message);
        }

    }
}