@page "/agregarclientefisico"
@inject NavigationManager Navegador;
@inject AgregarClienteUseCase AgregarClienteUseCase

<h3>Agregando un nuevo Cliente Físico</h3>
<div class="form-group row">
        <label for="Nombre" class="col-sm-2 col-form-label">Nombre</label>
        <input placeholder="Nombre" @bind="nombre" class="form-control">
</div>
<div class="form-group row">
        <label for="CUIT" class="col-sm-2 col-form-label">DNI</label>
        <input placeholder="DNI" @bind="dni" class="form-control" autocomplete="off">
</div>
<div class="form-group row">
        <label for="Dirección" class="col-sm-2 col-form-label">Dirección</label>
        <input placeholder="Dirección" @bind="direccion" class="form-control">
</div>
<div class="form-group row">
        <label for="Teléfono" class="col-sm-2 col-form-label">Teléfono</label>
        <input placeholder="Teléfono" @bind="telefono" class="form-control">
</div>

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private int dni;
    private string? nombre;
    private string? direccion;
    private string? telefono;
    ClienteFisico? _clienteFisico;

    void Aceptar()
    {
        try
        {
            _clienteFisico = new ClienteFisico(dni);
            _clienteFisico.Nombre = nombre;
            _clienteFisico.Direccion = direccion;
            _clienteFisico.Telefono = telefono;
            AgregarClienteUseCase.Ejecutar(_clienteFisico);
            Navegador.NavigateTo("listadoclientes");
        }
        catch (System.Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }
}