@page "/cliente"
@inject NavigationManager Navegador;
@inject AgregarClienteUseCase AgregarClienteUseCase
@* @inject ObtenerClienteUseCase ObtenerClienteUseCase *@
@inject ModificarClienteUseCase ModificarClienteUseCase

@if (_esNuevoCliente)
{
    <h3>Agregando un nuevo Cliente</h3>
}
    else
{
    <h3>Modificando al Cliente "@_clienteFisico.Nombre"</h3>
}
<input placeholder="Nombre" @bind="nombre" class="form-control">
<input placeholder="DNI" @bind="dni" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private int dni;
    private string? nombre;
    Cliente? _clienteFisico;

    bool _esNuevoCliente = true;

    void Aceptar()
    {
        _clienteFisico = new ClienteFisico(dni);
        _clienteFisico.Nombre = nombre;
        AgregarClienteUseCase.Ejecutar(_clienteFisico);
        Navegador.NavigateTo("listadoclientes");
    }
}