@page "/listadoclientes"
@using Pintureria.Aplicacion
@using Microsoft.JSInterop
@inject ListarClientesUseCase ListarClientesUseCase
@inject IJSRuntime JsRuntime;
@inject EliminarClienteUseCase EliminarClienteUseCase
@inject NavigationManager Navegador
@inject BuscarClientesQueCompraronEsteAñoUseCase BuscarClientesDeEsteAñoUseCase

<table class="table">
    <thead>
        <div class="botonera">
            <button class="btn btn-primary" @onclick="()=>ListarPorComprasDelAnioActual()">Filtrar Clientes Último Año</button>
            <button class="btn btn-primary" @onclick="()=>ListarTodo()">Listar Todo</button>
        </div>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DNI/CUIT</th>
            <th>DIRECCION</th>
            <th>TELEFONO</th>
            <th>ACCIÓN</th>
        </tr>
    </thead>
    <tbody>
        @if (listado != null)
        {
            @foreach (var cli in listado)
            {
                <tr>
                    <td>@cli.Id</td>
                    <td>@cli.Nombre</td>
                    @if (EsFisico(cli))
                    {
                        ClienteFisico? cf = cli as ClienteFisico; 
                        <td>@cf?.DNI</td>
                    }
                    else
                    {   
                        ClienteEmpresa? ce = cli as ClienteEmpresa; 
                        <td>@ce?.CUIT</td>
                    }
                    <td>@cli.Direccion</td>
                    <td>@cli.Telefono</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditarCliente(cli)">
                            <i class="oi oi-pencil"></i>
                        </button>
                        <button class="btn btn-danger" @onclick="() => EliminarCliente(cli.Id)">
                            <i class="oi oi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    List<Cliente>? listado;
    IEnumerable<ClienteFisico>? clientesFisicos;

    protected override void OnInitialized()
    {
        @* RepositorioSqlite<Cliente> repositorio = new RepositorioSqlite<Cliente>(); *@
        listado = ListarClientesUseCase.Ejecutar();
        clientesFisicos = listado.Where(c => c.Discriminator == "ClienteFisico" ) as IEnumerable<ClienteFisico>;
    }
    protected bool EsFisico(Cliente unCliente)
    {
        return unCliente.ToString().Contains("ClienteFisico");
    }

    void EliminarCliente(long id)
    {
        EliminarClienteUseCase.Ejecutar(id);
        listado = ListarClientesUseCase.Ejecutar();
    }

    void EditarCliente(Cliente cli)
    {

        if (EsFisico(cli))
        {
            Navegador.NavigateTo($"/modificarclientefisico/{cli.Id}");
        }
        else
        {
            Navegador.NavigateTo($"/modificarclienteempresa/{cli.Id}");
        }
    }

    void ListarPorComprasDelAnioActual(){
        DateTime currentDate = DateTime.Now;
        DateTime aYearAgo = currentDate.AddYears(-1);
        listado = BuscarClientesDeEsteAñoUseCase.Ejecutar();
        Navegador.NavigateTo("/listadoclientes");
    }

    void ListarTodo(){
        listado = ListarClientesUseCase.Ejecutar();
        clientesFisicos = listado.Where(c => c.Discriminator == "ClienteFisico" ) as IEnumerable<ClienteFisico>;
        Navegador.NavigateTo("/listadoclientes");
    }

}