@page "/listadoproductos"
@using Pintureria.Aplicacion
@using Microsoft.JSInterop
@inject ListarProductosUseCase ListarProductosUseCase
@inject IJSRuntime JsRuntime;
@inject EliminarProductoUseCase EliminarProductoUseCase
@inject NavigationManager Navegador

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>PRECIO</th>
            <th>STOCK</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in _lista)
        {
            <tr>
                <td>@prod.Id</td>
                <td>@prod.Descripcion</td>
                <td>@prod.PrecioUnitario</td>
                <td>@prod.Stock</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>EditarProducto(prod)">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>EliminarProducto(prod.Id)">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Producto> _lista = new List<Producto>();
    RepositorioSqlite<Producto>? repositorio;
    IEnumerable<Producto>? listado;
    EliminarProductoUseCase? eliminarProductoUseCase;

    protected override void OnInitialized()
    {
        _lista = ListarProductosUseCase.Ejecutar();
    }

    void EliminarProducto(long id)
    {
        repositorio = new RepositorioSqlite<Producto>();
        eliminarProductoUseCase = new EliminarProductoUseCase(repositorio);
        EliminarProductoUseCase.Ejecutar(id);
        _lista = ListarProductosUseCase.Ejecutar();
    }

    void EditarProducto(Producto prod){
         Navegador.NavigateTo($"/modificarproducto/{prod.Id}");
    }
}