@page "/listadoproductos"
@using Pintureria.Aplicacion
@using Microsoft.JSInterop
@inject ListarProductosUseCase ListarProductosUseCase
@inject IJSRuntime JsRuntime;
@inject EliminarProductoUseCase EliminarProductoUseCase
@inject NavigationManager Navegador

<table class="table">
    <thead>
        <div class="filtro">
            <div class="form-group row">
            <label for="minimo" class="col-sm-2 col-form-label">Con Stock Minimo</label>
                 <input id="minimo"  @bind="stockMinimo">
            </div>
             <button class="btn btn-primary" @onclick="()=>ListarPorStockMinimo()">Filtrar Por Stock Minimo</button>
             <button class="btn btn-primary" @onclick="()=>ListarTodo()">Listar Todo</button>
        </div>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>PRECIO</th>
            <th>STOCK</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in _lista)
        {
            <tr>
                <td>@prod.Id</td>
                <td>@prod.Descripcion</td>
                <td>@prod.PrecioUnitario</td>
                <td>@prod.Stock</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>EditarProducto(prod)">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>EliminarProducto(prod.Id)">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Producto> _lista = new List<Producto>();
    int stockMinimo = 0;

    protected override void OnInitialized()
    {
        _lista = ListarProductosUseCase.Ejecutar();
    }

    void EliminarProducto(long id)
    {
        EliminarProductoUseCase.Ejecutar(id);
        _lista = ListarProductosUseCase.Ejecutar();
    }

    void EditarProducto(Producto prod){
         Navegador.NavigateTo($"/modificarproducto/{prod.Id}");
    }

    void ListarTodo(){
        _lista = ListarProductosUseCase.Ejecutar();
        Navegador.NavigateTo("/listadoproductos");
    }

    void ListarPorStockMinimo(){
        IEnumerable<Producto> listado = ListarProductosUseCase.Ejecutar().Where(p => p.Stock >= stockMinimo);
        _lista = listado.ToList();
        Navegador.NavigateTo("/listadoproductos");
    }
}