@page "/modificarclientefisico/{Id:long}"
@inject NavigationManager Navegador;
@inject ModificarClienteUseCase ModificarClienteUseCase
@inject BuscarClienteUseCase BuscarClienteUseCase

<h3>Modificando un nuevo Cliente Fisico</h3>
<input placeholder="Nombre" @bind="_clienteFisico.Nombre" class="form-control">
<input placeholder="DNI" @bind="_clienteFisico.DNI" class="form-control">
<input placeholder="Dirección" @bind="_clienteFisico.Direccion" class="form-control">
<input placeholder="Teléfono" @bind="_clienteFisico.Telefono" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private int dni;
    private string? nombre;
    private string? telefono;
    private string? direccion;
    ClienteFisico? _clienteFisico;
    [Parameter] public long Id { get; set; }

    protected override void OnParametersSet(){
        _clienteFisico = BuscarClienteUseCase.Ejecutar(Id) as ClienteFisico;
    }
    void Aceptar()
    {
        if(_clienteFisico != null){
            ModificarClienteUseCase.Ejecutar(_clienteFisico);
        }
        Navegador.NavigateTo("listadoclientes");
    }
}