@page "/modificarproducto/{Id:long}"
@inject NavigationManager Navegador;
@inject ModificarProductoUseCase ModificarProductoUseCase
@inject BuscarProductoUseCase BuscarProductoUseCase

<h3>Modificando Producto</h3>
<input placeholder="Descripción" @bind="_producto.Descripcion" class="form-control">
<input placeholder="Precio Unitario" @bind="_producto.PrecioUnitario" class="form-control">
<input placeholder="Stock" @bind="_producto.Stock" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private Producto _producto = new Producto();

    [Parameter] public long Id { get; set; }
    protected override void OnParametersSet(){
        Producto? prod = BuscarProductoUseCase.Ejecutar(Id);
        if(prod != null){
            _producto = prod;
        }
    }

    void Aceptar()
    {
        if (_producto != null){
            ModificarProductoUseCase.Ejecutar(_producto);
        }
        Navegador.NavigateTo("/listadoproductos");
    }
}