@page "/modificarclientefisico"
@inject NavigationManager Navegador;
@inject ModificarClienteUseCase ModificarClienteUseCase

<h3>Modificando un nuevo Cliente Fisico</h3>
<input placeholder="Nombre" @bind="nombre" class="form-control">
<input placeholder="DNI" @bind="dni" class="form-control">
<input placeholder="Dirección" @bind="direccion" class="form-control">
<input placeholder="Teléfono" @bind="telefono" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private int dni;
    private string? nombre;
    private string? telefono;
    private string? direccion;
    ClienteFisico? _clienteFisico;
    ModificarClienteUseCase? modificarClienteUseCase;
    RepositorioSqlite<Cliente>? repositorio;

    void Aceptar()
    {
        try {
            repositorio = new RepositorioSqlite<Cliente>();
            modificarClienteUseCase = new ModificarClienteUseCase(repositorio);
            _clienteFisico = new ClienteFisico(dni);
            _clienteFisico.Nombre = nombre;
            ModificarClienteUseCase.Ejecutar(_clienteFisico);
            Navegador.NavigateTo("listadoclientes");
        } catch(System.Exception e) {
            Console.WriteLine(e.Message);
        }

    }
}