@page "/modificarproducto/{Id:long}"
@inject NavigationManager Navegador;
@inject ModificarProductoUseCase ModificarProductoUseCase
@inject BuscarProductoUseCase BuscarProductoUseCase

<h3>Modificando Producto</h3>
<input placeholder="Descripción" @bind="_producto.Descripcion" class="form-control">
<input placeholder="Precio Unitario" @bind="_producto.PrecioUnitario" class="form-control">
<input placeholder="Stock" @bind="_producto.Stock" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private string? descripcion;
    private double precio;
    private long stock;
    private Producto? _producto;

    [Parameter] public long Id { get; set; }
    protected override void OnParametersSet(){
        _producto = BuscarProductoUseCase.Ejecutar(Id);
    }

    void Aceptar()
    {
        try {
            if (_producto != null){
                ModificarProductoUseCase.Ejecutar(_producto);
            }
            Navegador.NavigateTo("/listadoproductos");
        } catch(System.Exception e) {
            Console.WriteLine(e.Message);
        }
    }
}