@page "/modificarclienteempresa/{Id:long}"
@inject NavigationManager Navegador;
@inject ModificarClienteUseCase ModificarClienteUseCase
@inject BuscarClienteUseCase BuscarClienteUseCase

<h3>Modificando un nuevo Cliente Empresa</h3>
<input placeholder="Nombre" @bind="_clienteEmpresa.Nombre" class="form-control">
<input placeholder="CUIT" @bind="_clienteEmpresa.CUIT" class="form-control">
<input placeholder="Dirección" @bind="_clienteEmpresa.Direccion" class="form-control">
<input placeholder="Teléfono" @bind="_clienteEmpresa.Telefono" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    private int cuit;
    private string? nombre;
    private string? telefono;
    private string? direccion;
    ClienteEmpresa? _clienteEmpresa;
    
    [Parameter] public long Id { get; set; }

    protected override void OnParametersSet(){
        _clienteEmpresa = BuscarClienteUseCase.Ejecutar(Id) as ClienteEmpresa;
    }

    void Aceptar()
    {
        if (_clienteEmpresa != null){
            ModificarClienteUseCase.Ejecutar(_clienteEmpresa);
        }
        Navegador.NavigateTo("listadoclientes");
    }
}