<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pintureria.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoclientes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado Clientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agregar Cliente
            </NavLink>
            @if (expandSubNav)
            {
                <NavLink class="expand-menu" href="/agregarClienteFisico">
                    <span>Fisico</span>
                </NavLink>
                <NavLink class="expand-menu" href="/agregarClienteEmpresa">
                    <span>Empresa</span>
                </NavLink>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoProductos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ListadoProductos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/agregarProducto">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AgregarProducto
            </NavLink>
        </div>
    </nav>
</div>

@* AgregarCliente Dropdown *@
@code {
    private bool expandSubNav;
}

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
